In [89]:
#Your Code here
def helloPython():
    print('welcome to Python language')
    
helloPython()
helloPython()
helloPython()
helloPython()
helloPython()

welcome to Python language
welcome to Python language
welcome to Python language
welcome to Python language
welcome to Python language

In [34]:
# your code here
def gettitlebelakang(title="S.Kom"):
    return title

def gettitledepan(title='H,Prof'):
    return title
    
def fullnamewithtitle(firstname,lastname):
    title_depan= gettitledepan()
    title_belakang= gettitlebelakang()
    print(f"{title_depan}.{firstname} {lastname},{title_belakang}")
    
fullnamewithtitle("Rendika", "Febrian")

H,Prof.Rendika Febrian,S.Kom

In [56]:
#your code here
def maxvalue(val_1, val_2, val_3):
   
    if val_1 > val_2 and val_1 > val_3:
        return val_1
    
    if val_2 > val_1 and val_2 > val_3:
        return val_2
    
    if val_3 > val_1 and val_3 > val_2:
        return val_3
    
maxvalue(100,500,2500)

2500

In [70]:
#your code area 
def countCircleArea(diameter,phi=3.14):
    r = diameter/2
    return phi * r * r

countCircleArea(10)

78.5

In [77]:
#your code area 
def countCircleArea(diameter,phi=3.14):
    r = diameter/2
    return phi * r * r

def countSquareArea(sisi):
    return sisi * sisi

sisi = 10
diameter = 10
result = countSquareArea(sisi) - countCircleArea(diameter)
print(countSquareArea(sisi))
print(countCircleArea(diameter))
print(result)

100
78.5
21.5

In [84]:
#your code area
def info(suhu, daerah='sukabumi', satuan='celcius'):
    print(f"suhu sekarang di {daerah} : {suhu} {satuan}")
    
info(20)
info(80,satuan='farenheit')
info(-10,'kutub utara')
info(-40,'kutub utara', 'farenheit')

suhu sekarang di sukabumi : 20 celcius
suhu sekarang di sukabumi : 80 farenheit
suhu sekarang di kutub utara : -10 celcius
suhu sekarang di kutub utara : -40 farenheit

In [85]:
#fungsi rekursif
def faktorial(bil):
    if bil==1:
        return 1
    return bil * faktorial(bil-1)

faktorial(3)

6

In [90]:
#soal latihan 1
nilai_tugas = [100,80,70,80]

def totalNilai(n_tugas):
    total=0
    for i in n_tugas:
        total +=i
        
    return total

totalNilai(nilai_tugas)

330

In [92]:
#soal latihan 1.2
def total(nums):
    total = 0
    for n in nums:
        total += n
    return total
total([20,20])

40

In [97]:
#soal latihan 2

nilai_tugas = [100,80,700,80,90]

def totalNilai(n_tugas):
    total=0
    for i in n_tugas:
        total +=i
        
    return total

def maxValue(n_tugas):
    maks = 0
    for i in n_tugas:
        if i > maks:
            maks = i
    return maks

print(totalNilai(nilai_tugas))
print(maxValue(nilai_tugas))

1050
700

In [105]:
#soal latihan 3

nilai_programming = [
    {
        "nama":"rendika",
        "nilai":100
    },
    {
        "nama":"febrian",
        "nilai":70
    },
    {
        "nama":"cristian",
        "nilai":85
    },
    {
        "nama":"ronaldo",
        "nilai":90
    }
    
]

def maxValue():
    nilaiTerbesar = 0
    nama_terbesar + ''
    for mahasiswa in nilai_programming
        nilai = mahasiswa.get("nilai")
        nama = mahasiswa.get("nama")
        
        if nilai > nilai_terbesar:
            nama_terbesar = nama
            nilai_terbesar = nilai
            
    return {
        "nama": nama_terbesar,
        "nilai":nilai_terbesar
    }
            
mahasiswa = maxNilai(nilai_programming)

print("ranking 1 adalah .......\n")
print("nama:) ", mahasiswa.get("nama"))
print("nilai,", mahasiswa.get("nilai"))

SyntaxError: invalid syntax (3918241090.py, line 26)